<!DOCTYPE html>
<html>
  <head>
    <title>Matt Arrick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>   

      <%= link_to 'Matt Arrick', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to  new_project_path, class: 'nav-link' do %>
              <i class="fa fa-plus-circle"></i>
              New Project
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>

  <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            mattarrick@gmail.com
            <br />
            40 Lakewood Dr.
            <br />
            Woodland Park, CO 80863
          </div>
          <div class="col-12 col-sm-3 social">
            <b>Social</b>
            <br />
            <br />
            
            <%= link_to 'http://github.com/mattarrick' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'http://facebook.com/mattarrick' do %>
              <span class="fa fa-facebook-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'http://twitter.com/mattarrick' do %>
              <span class="fa fa-twitter-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</html>
